<%- include("header") -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor beatae amet placeat nostrum sed nesciunt molestias temporibus doloribus perspiciatis, repellendus alias enim minima, id ipsa, Repellat, culpa!</p>

<%- include("footer") -%> 